<div>
  {{#each this}}
    <section class="has-text-dark comment-background mr-6">
      <div class="meta">
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
      <div class="has-text-dark">
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>