<div>
  {{#each this}}
    <section class="has-text-dark comment-background mr-6">
      <div class="meta">
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
      <textarea class="has-text-dark has-background-success column textarea">
        {{comment_text}}
      </textarea>
    </section>
  {{/each}}
</div>