<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fantasy Chat</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>

  <body class="columns is-flex-direction-column is-fullheight-100vh">
    <header class="navbar is-dark pt-4 pb-6 px-6">
      <h1>
        <div class="navbar-brand is-size-3">Fantasy Chat</div>
      </h1>
      <nav class="navbar-end">
        {{#if loggedIn}}
          <a
            href="/"
            class="button navbar-item has-background-dark"
          >Homepage</a>
          <a
            href="/dashboard"
            class="button navbar-item has-background-dark"
          >Dashboard</a>
          <button
            id="logout"
            class="button navbar-item has-background-dark"
          >Logout</button>
        {{else}}
          <a
            href="/"
            class="button navbar-item has-background-dark"
          >Homepage</a>
          <a
            href="/login"
            class="button navbar-item has-background-dark"
          >Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="column has-background-success-dark">
      {{{body}}}
    </main>
    <footer class="column is-narrow footer has-background-dark">
      <div class="has-text-centered">
        Natural 20 For Perception!
      </div>
    </footer>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>