<div class="title content has-text-centered pt-5">Welcome to the Fantasy Chat</div>
<ol class="tile is-vertical is-8 px-6 ml-6">
  {{#each posts as |post|}}
    <li class="subtitle">
      {{> post-info post }}
    </li>
  {{/each}}
</ol>