<div class="pl-6"> 
  {{> post-info post}}
  {{#if loggedIn}}
    <form class="comment-form">
      <div>
        <textarea name="comment-body"></textarea>
      </div>

      <div>
        <button type="submit" class="button has-background-grey">add comment</button>
      </div>
    </form>
    <div id="rollCont">
      <h2>Dice Roller</h2>
      <h3 id="rollOutput"></h3>
      <textarea id="die-amount"></textarea>
      <h2>D</h2>
      <textarea id="roll-input"></textarea>
    </div>
    <button id="rollButton" class="button has-background-grey">Roll!</button>
    {{/if}}
    {{> comments post.comments}}
    {{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  <script src="/javascript/roll.js"></script>
  {{/if}}
</div>
