{{> post-info post}}
{{#if loggedIn}}
  <div> <form class="comment-form">
    <div>
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit">add comment</button>
    </div>
  </form>
  <div id="rollCont">
    <h2>Dice Roller</h2>
    <h3 id="rollOutput"></h3>
    <textarea id="roll-input"></textarea>
    <button id="rollButton">Roll!</button>
  </div>
  </div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  <script src="/javascript/roll.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@dice-roller/rpg-dice-roller@5.1.0/lib/umd/bundle.min.js"></script>
{{/if}}