<div class="columns">
  <div class="column is-third is-offset-5">
    {{> post-info post}}
    {{#if loggedIn}}
    <form class="label comment-form">
      <div>
        <textarea name="comment-body"></textarea>
      </div>
      <div>
        <button type="submit" class="button has-background-grey">add comment</button>
      </div>
    </form>
    {{/if}}
    {{> comments post.comments}}
    {{#if loggedIn}}
    <script src="/javascript/comment.js"></script>
    {{/if}}
  </div>
</div>