* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #0b4d19;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: #2eb34a;
}

button {
  background-color: #0b4d19;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #2eb34a;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #2eb34a;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  color: #0b4d19;
  /* background-color: #b37236; */
  /* background-image: url("../../assets/media/woodImg.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #0b4d19;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #2eb34a;
}
